* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}
.container-hero {
  background-image: linear-gradient(
    to right top,
    #d9831a,
    #a6691f,
    #764f20,
    #4a361f,
    #201e1c
  );
  width: 100%;
  height: 320px;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.hero-image {
  width: 151px;
  height: 24px;
}
.hero-title {
  color: var(--just-white);
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  width: 260px;
}

.hero-p {
  color: var(--just-white);
  opacity: 80%;
  width: 240px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.container-exchange {
  background-color: var(--off-white);
  width: 100%;
  height: 640px;
}

.exchange-plans {
  text-align: center;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 1.4rem;
  color: var(--black);
  position: absolute;
  font-weight: 700;
  top: 300px;
  left: calc(50% - 114.5px);
  /* left = (AnchuraPadre - AnchuraHijo/2) */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-btn {
  cursor: pointer;
  margin-left: 10px;
}

.exchange-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450px;
  width: 100%;
}

.description-image {
  width: 192px;
  height: 192px;
  margin-top: 60px;
}

.description-title {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  width: 270px;
}

.description-p {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  color: var(--grey);
  width: 300px;
}

.coins-title {
  color: var(--bitcoin-orange);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 8px;
}
.table {
  margin: 0 auto;
  width: 150px;
  display: grid;
  grid-template-columns: 50px 50px 30px;
  grid-template-rows: 20px 20px 20px 20px;
  gap: 2px;
}

.table div {
  background-color: var(--just-white);
  color: var(--grey);
  font-size: 0.8rem;
  font-weight: 500;
}
.name-coins {
  padding-top: 5px;
}
.tc {
  padding-top: 5px;
  text-align: center;
}

.coins-valor {
  margin-top: 20px;
  background-color: var(--soft-orange);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 90px;
  height: 20px;
  margin-left: 15px;
  font-weight: 400;
}

.status {
  text-align: center;
}
